<li>
  <%= decision_category.name %>
  <% if current_user.admin? %>
    | <%= link_to "edit", edit_decision_category_path(decision_category) %>
    | <%= link_to "delete", decision_category, method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>
</li>