<% provide(:title, 'Edit decision category') %>
<h1>Update decision category name</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@decision_category, url: decision_category_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>