<% provide(:title, 'All decision categories') %>
<h1><%= yield(:title) %></h1>
<!--All decision categories-->

<%= will_paginate(@decision_categories, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, :class => 'pagination-sm') %>

<ul class="decision_categories">
  <%= render @decision_categories %>
</ul>

<%= will_paginate(@decision_categories, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, :class => 'pagination-sm') %>