<li>
  <%= link_to decision.matter, decision %>
  <%= decision.matter %>
  <% if current_user.admin? %>
    | <%= link_to "delete", decision, method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>
</li>