<%= provide(:title, @decision.matter) %>
<div class="row">
  <h1>
    <div class="col-md-12"><%= @decision.matter %></div>
  </h1>
  <div class="col-md-2"><%= @decision.instance %>. instance</div>
  <div class="col-md-10"><%= @decision.ref_number %></div>
  <div class="col-md-12"><%= raw @decision.body %></div>
</div>