<% provide(:title, "Application status") %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <div class="offset-md-3 col-md-6">
    <p><%= Decision.count %> decisions in the database.</p>
    <p><%= @status.decision_count %> decisions on ÚOHS web.</p>
  </div>
  <div class="offset-md-3 col-md-6">
      <%= link_to "Synchronize", synchronization_path, { method: :patch, :class => "btn btn-info #{'disabled' if redis(get: :in_progress) == 'true'}", :role => 'button'} %>
  </div>
</div>
