<% provide(:title, "Update status") %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <div class="col-md-6">
<!--    <p><%#= @new_links.size %> added.</p>-->
<!--    <p><%#= @new_links %></p>-->
  </div>
  <div class="col-md-6">
  </div>
</div>