<li>
  <%= link_to participant.name, participant %>
  <%= participant.ico %>
  <% if current_user.admin? %>
    | <%= link_to "delete", participant, method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>
</li>