<%= provide(:title, @participant.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="participant_info">
      <h1>
        <%= @participant.name %>
      </h1>
       <%= @participant.ico %>
    </section>
  </aside>
</div>
