<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <%= link_to "ÚOHS app", root_path, id: "logo", class: 'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item <%= active_for(controller: 'static_pages', action: 'home') %>"><%= link_to "Home", root_path, class: 'nav-link' %></li>
      <li class="nav-item <%= active_for(controller: 'static_pages', action: 'help') %>"><%= link_to "Help", help_path, class: 'nav-link' %></li>
      <% if logged_in? %>
        <li class="nav-item <%= active_for(controller: 'users', action: 'index') %>"><%= link_to "Users", users_path, class: 'nav-link' %></li>
        <% if current_user.admin? %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Database <b class="caret"></b>
            </a>
            <div class="dropdown-menu">
              <%= link_to "Participants", participants_path , class: 'dropdown-item' %>
              <%= link_to "Decisions", decisions_path, class: 'dropdown-item' %>
              <%= link_to "Decision categories", decision_categories_path, class: 'dropdown-item' %>
              <%= link_to "Status", status_path, class: 'dropdown-item' %>
            </div>
        <% end %>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account <b class="caret"></b>
          </a>
          <div class="dropdown-menu">
            <%= link_to "Profile", current_user, class: 'dropdown-item' %>
            <%= link_to "Settings", edit_user_path(current_user), class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", logout_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li><%= link_to "Log in", login_path, class: 'nav-link' %></li>
      <% end %>

    </ul>

  </div>

</nav>