<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="progress-bar" style="width:<%= Redis.current.get(:current_progress) %>%">
  </div>
</div>